
@model PeopleViewModel
@{
    ViewData["Title"] = "People Create";
}

<h1>People</h1>


<form asp-action="Create" asp-controller="People" method="post">

    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <br />
    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>

    <br />
    <label asp-for="City"></label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>

    <br />


    <input type="submit" value="New Person" />

</form>