
@{
    ViewData["Title"] = "About";
}
    
<h1>About</h1>

<dl>
    <dt>CV</dt>

    <dd>För längesen</dd>
    <dd>Kock</dd>
    <dd>Förrut</dd>
    <dd>Trafikledare</dd>
    <dd>Alltid</dd>
    <dd>Hobbymusiker</dd>
    <dd>Senast</dd>
    <dd>Gymnasielärare i matematik</dd>
</dl>