
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<dl>
    <dt>Email</dt>

    <dd>Ola Ulvås</dd>
    <dd>Skomakaregatan 32</dd>
    <dd>371 36 KARLSKRONA</dd>
    <dd>0733-500381</dd>
    <dd>ola.ulvas@gmail.com</dd>
</dl>

