
@{
    ViewData["Title"] = "Projects";
}

    <div class="text-center">
        <h1 class="display-4">Projects</h1>
        <p>Sokoban <a href="https://github.com/YatzyPogu/Sokobaan">Have fun!!!</a>.</p>
        <p>Calculator <a href="https://github.com/YatzyPogu/Calculator">Math is king!!!</a>.</p>
        <p>Hangman <a href="https://github.com/YatzyPogu/TheGameHangman">Guessing game!!!</a>.</p>
        <p>HTML <a href="https://github.com/YatzyPogu/html_assigments">Olas guitar world!!!</a>.</p>
       



    </div>